[Unit]
Description=Binance Screener App

[Service]
ExecStart=/var/www/screener/app.js
Restart=always
User=nogroup
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/screener

[Install]
WantedBy=multi-user.target